#curtain {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0;
    pointer-events: none;
}

.fade-to-black {
    animation-name: fade-to-black;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fade-to-black {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

.scroll-up {
    animation-name: scroll-up;
    animation-duration: 1s;
}

@keyframes scroll-up {
    0% { height: 100vh; }
    100% { height: 0vh; }
}