#dashboard {
    color: #ffffff;
    font-size: 5vh;
    font-family: "Source Code Pro", monospace;
}

#counter {
    position: absolute;
    top: 5vh;
    left: 5vw;
}

#timer {
    position: absolute;
    top: 5vh;
    right: 5vw;
}