@import "./curtain.css";
@import "./dashboard.css";
@import "./gauge.css";
@import "./joystick.css";
@import "./menu.css";

html, body, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    height: 100vh;
}

canvas {
    display: block;
}